<div class="container mt-3">
    <ul>
        <li>
            <h2>Instituto 1</h2>
            <h3> - Titulo</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, laboriosam vel enim, sed dolores amet dignissimos modi ipsa tempore sint quasi eos, a facilis aperiam minus excepturi rem repellendus. Doloribus!</p>
        </li>
        <li>
            <h2>Instituto 2</h2>
            <h3> - Titulo</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, laboriosam vel enim, sed dolores amet dignissimos modi ipsa tempore sint quasi eos, a facilis aperiam minus excepturi rem repellendus. Doloribus!</p>
        </li>
        <li>
            <h2>Instituto 3</h2>
            <h3> - Titulo</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, laboriosam vel enim, sed dolores amet dignissimos modi ipsa tempore sint quasi eos, a facilis aperiam minus excepturi rem repellendus. Doloribus!</p>
        </li>
    </ul>
</div>
