<div class="container">
    <hr>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Acerca de</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Formacion</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Experiencia</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contacto</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Mauricio Figueredo, Inc</p>
      <p class="text-center text-muted">Posadas, Misiones Argentina</p>
    </footer>
  </div>
