<div class="container-fluid ">
    <div class="row">
        <div class="col-md-3" >
            <img src="../../../assets/Logos/perfil.jpg" class="rounded-circle img-fluid" id="fotoperfil">
        </div>
        <div class="col-md-3">
            <h4 class="text-light">Figueredo Mauricio</h4>
            <h6 class="text-light">Full Stack Web Developer Jr</h6>
        </div>
        <div class="col-md-6">
            <h2 class="text-light">Acerca de mi</h2>
            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, nostrum consequuntur magnam, dolores ut ipsum asperiores iure odit sapiente unde recusandae rem hic nesciunt qui quas quod ullam voluptates impedit.</p>
        </div>

    </div>
</div>
