.row{
    padding: 2%;
}

div{
    padding: 2%;
    background: rgb(14, 18, 39);
    text-align: center;
}
/*
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        left: 3%;
        top: 600px;
    }
}
*/


